.report-div.success {
    border-color: green;
    background: #e2ffe2;
}
.report-div.error {
    border-color: red;
    background: #ffc4c4;
}
.report-div {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: none;
    font-family: Arial,Helvetica,sans-serif;
}

.report-div.error p
{
	background: url(images/error.png) no-repeat left center;
	margin: 0px !important;
	padding: 10px 0px 10px 25px !important;
}

.report-div.success p
{
	background: url(images/success.png) no-repeat left center;
	margin: 0px !important;
	padding: 10px 0px 10px 25px !important;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-top: 0;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li > a {
  text-decoration: none;
  color: #337ab7;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}
