.DS_Store

application/config/config.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
application/tmp/*
!application/logs/index.html
!application/logs/.htaccess

public_html/assets/uploads/files/*

composer.lock

#Ignorar user_guide
user_guide/*
/vendor/

# IDE Files
#-------------------------
/nbproject/*
/solo_SQL/*
.idea/*
Automotors.clpprj
Automotors_clcs.csprj

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
